body{
    background-color: #d5eae7;
}

.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}

a{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: rgb(232, 158, 200);
    text-decoration: none;
    margin-left: 15px;
}

a:hover{
    color: white;
    transition: 0.3s;
}

.profile-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 100px 100px;
}

#profile-picture{
    width: 400px;
    margin-right: 60px;
}
#tennis-picture{
    width: 300px;
    margin-right: 50px;
}

.introduction>h2{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

.introduction>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 40px;
}

#experience{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 40px;
    line-height: 30px;
}

.hobby{
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
    align-items: center;
    margin: 0px 150px;

}

.name{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.name:hover{
    color: rgb(142, 238, 235);
    -webkit-text-stroke: 1px black;
    transition: 0.3s;
}

#name1{
    position: relative;
    right: 70px;
}

#name1:hover{
    color: rgb(144, 239, 164);
}
